<ion-modal-view>
  <ion-header-bar class="bar-light">
    <button class="button button-icon icon ion-ios-arrow-back" ng-click="closeChooseField()"></button>
    <h1 class="title">选择授课场地</h1>
  </ion-header-bar>
  <ion-content class="field-cont">
    <div class="list field-list">
      <label class="item item-radio">
        <input type="radio" name="field">
        <div class="item-content">
          <div class="field-top">
            <h2><i class="icon ion-location"></i>江湾体育馆</h2>
          </div>
          <div class="field-bottom">
            <p>4月10日 周五20:00~21:00 1号场 25.00元</p>
          </div>
        </div>
        <i class="icon ion-android-radio-button-off"></i>
        <i class="radio-icon ion-android-checkmark-circle"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="field">
        <div class="item-content">
          <div class="field-top">
            <h2><i class="icon ion-location"></i>江湾体育馆</h2>
          </div>
          <div class="field-bottom">
            <p>4月10日 周五20:00~21:00 1号场 25.00元</p>
          </div>
        </div>
        <i class="icon ion-android-radio-button-off"></i>
        <i class="radio-icon ion-android-checkmark-circle"></i>
      </label>
    </div>
  </ion-content>
  <div class="btn-bar">
    <a>确定选择该场地</a>
  </div>
</ion-modal-view>
