<ion-modal-view>
  <ion-header-bar class="bar-light">
  <button class="button button-icon icon ion-ios-arrow-back" ng-click="closeSchedule()"></button>
    <h1 class="title">课程安排</h1>
  </ion-header-bar>
  <ion-content>
    <table class="timetable-table">
      <thead>
        <tr>
          <th></th>
          <th class="active">
          	<h1>4/13</h1>
          	<p>周一</p>
          </th>
          <th>
						<h1>4/14</h1>
          	<p>周二</p>
          </th>
          <th>
						<h1>4/15</h1>
          	<p>周三</p>
          </th>
          <th>
						<h1>4/16</h1>
          	<p>周四</p>
          </th>
          <th>
						<h1>4/17</h1>
          	<p>周五</p>
          </th>
          <th>
						<h1>4/18</h1>
          	<p>周六</p>
          </th>
          <th>
						<h1>4/19</h1>
          	<p>周日</p>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>8:00</th>
          <td class="red">已招满</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>9:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>10:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="green">可购买</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>11:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>12:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>13:00</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-modal-view>
