<ion-view view-title="教练详情">
  <section class="coach-box">
    <ion-slide-box class="clearfix" on-slide-changed="slideHasChanged($index)" show-pager="true" does-continue="false">
      <ion-slide>
        <div class="coach-info">
          <div class="left-area">
            <img src="{{coach.photo}}" alt="">
            <h3><i class="sex-icon" ng-class="{'sex-female': coach.gender == 'GENDER_WOMAN'}"></i>{{coach.name}}</h3>
            <p>{{coach.coaching_specialty}}教练</p>
          </div>
          <div class="right-area">
            <div class="star">
              <span class="star-icon-light"></span>
              <span class="star-icon-dark"></span>
              <span class="star-icon-dark"></span>
              <span class="star-icon-dark"></span>
              <span class="star-icon-dark"></span>
              <em class="score">{{coach.rank}}</em>
            </div>
            <div class="coach-date">
              <ul>
                <li>昵称<span>{{coach.nickname}}</span>
                </li>
                <li>星座<span>{{coach.constellation}}</span>
                </li>
                <li>教练类别<span>{{coach.is_full_time | coachType}}</span>
                </li>
                <li>教学地点<span>{{coach.teaching_location}}</span>
                </li>
                <li>注册时间<span>2014年11月</span>
                </li>
                <li>我的标签<div ng-if="coach.tags"><em ng-repeat="tag in coach.tags">{{tag}}</em></div>
                </li>
              </ul>
            </div>
            <div class="coach-number" ng-click="collect()">
              <i class="icon ion-ios-people"></i>
              <p><i class="assertive">12</i>人</p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="coach-photos">
          <div class="photo-item"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item"><img src="assets/images/coach-img.jpg" alt="">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="row coach-tab">
      <div class="col" ng-click="setTab('tab1')" ng-class="{ 'active': currentTab == 'tab1' }">教练简介</div>
      <div class="col" ng-click="setTab('tab2')" ng-class="{ 'active': currentTab == 'tab2' }">已开课程</div>
      <div class="col" ng-click="setTab('tab3')" ng-class="{ 'active': currentTab == 'tab3' }">教练评价</div>
    </div>
  </section>
  <ion-content class="coach-content">
    <section class="coach-wrapper" ng-switch="currentTab">
      <div class="coach-about" ng-switch-default>
        <ul>
          <li class="item">
            <header>
              <h2><b class="dot"></b>教育背景</h2>
            </header>
            <p class="note">毕业院校：{{coach.graduate_school}}</p>
            <p class="note">专业：{{coach.major}}</p>
          </li>
          <li class="item">
            <header>
              <h2><b class="dot"></b>教学经历</h2>
            </header>
            <p class="note">教培行业：{{coach.coaching_years}}</p>
          </li>
          <li class="item">
            <header>
              <h2><b class="dot"></b>获得荣誉</h2>
            </header>
            <p class="note" ng-bind="coach.summary"></p>
          </li>
          <li class="item" ng-if="">
            <header>
              <h2><b class="dot"></b>教练宣言</h2>
            </header>
            <p class="note" ng-bind="coach.slogan"></p>
          </li>
          <li class="item">
            <header>
              <h2><b class="dot"></b>其他类似教练</h2>
            </header>
            <div class="recommend clearfix">
              <a href="" ng-repeat="coach in reCoaches" class="recommend-coach">
                <img class="recommend-img" ng-src="coach.photo" alt="">
                <div class="recommend-txt">
                  <span ng-bind="coach.coaching_specialty"></span>
                  <span ng-bind="coach.name"></span>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="coach-courses" ng-switch-when="tab2">
        <ion-list class="course-list">
          <ion-item bindonce ng-repeat="course in courses">
            <div class="top clearfix">
              <h2 bo-bind="course.name"></h2>
              <span bo-bind="course.price | price"></span>
            </div>
            <div class="middle">
              <p><i class="icon ion-ios-location"></i><span bo-bind="course.teaching_venues"></span></p>
            </div>
            <div class="bottom">
              <span>授课方式：</span><span bo-bind="course.course_type | courseType"></span>
              <a href="" ng-click="openSchedule()">课程安排</a>
            </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
      </div>
      <div class="coach-evaluate" ng-switch-when="tab3">
        <header>
          <h2><i class="icon ion-ios-chatbubble-outline"></i>学员评价(11)</h2>
        </header>
        <ion-list>
          <ion-item bindonce ng-repeat="comment in comments">
            <div class="evaluate-info">
              <img bo-src="" alt="">
              <h2><span class="name">宇宙无敌黑</span><span class="date" bo-bind="comment.creation_time | time">2015-01-15 14:35</span></h2>
              <div class="star">
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
              </div>
              <p>参与课程：<span>散打初级班</span>
              </p>
            </div>
            <div class="evaluate-cont" bo-bind="comment.comment"></div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
      </div>
    </section>
  </ion-content>
</ion-view>
