<ion-view view-title="教练详情">
  <section class="coach-box">
    <ion-slide-box class="clearfix" on-slide-changed="slideHasChanged($index)" show-pager="true" does-continue="false">
      <ion-slide>
        <div class="coach-info">
          <div class="left-area">
            <img src="{{coach.photo}}" alt="">
            <h3><i class="sex-icon" ng-class="{'sex-female': coach.gender == 'GENDER_WOMAN'}"></i>{{coach.name}}</h3>
            <p>{{coach.coaching_specialty}}教练</p>
          </div>
          <div class="right-area">
            <div class="star">
              <span class="star-icon-light"></span>
              <span class="star-icon-dark"></span>
              <span class="star-icon-dark"></span>
              <span class="star-icon-dark"></span>
              <span class="star-icon-dark"></span>
              <em class="score">{{coach.rank}}</em>
            </div>
            <div class="coach-date">
              <ul>
                <li>昵称<span>{{coach.nickname}}</span>
                </li>
                <li>星座<span>{{coach.constellation}}</span>
                </li>
                <li>教练类别<span>{{coach.is_full_time | coachType}}</span>
                </li>
                <li>教学地点<span>{{coach.teaching_location}}</span>
                </li>
                <li>注册时间<span>2014年11月</span>
                </li>
                <li>我的标签
                  <div ng-if="coach.tags"><em ng-repeat="tag in coach.tags">{{tag}}</em></div>
                </li>
              </ul>
            </div>
            <!-- <div class="coach-collect">
              <i class="icon ion-heart assertive"></i>
              <p>已收藏</p>
            </div> -->
            <div class="coach-collect" ng-click="collect()">
              <i class="icon ion-heart"></i>
              <p>未收藏</p>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="coach-photos">
          <div class="photo-item" ng-click="openPhotoSwipe()"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item" ng-click="openPhotoSwipe()"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item" ng-click="openPhotoSwipe()"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item" ng-click="openPhotoSwipe()"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item" ng-click="openPhotoSwipe()"><img src="assets/images/coach-img.jpg" alt="">
          </div>
          <div class="photo-item" ng-click="openPhotoSwipe()"><img src="assets/images/coach-img.jpg" alt="">
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="row coach-tab">
      <div class="col" ng-click="setTab('tab1')" ng-class="{ 'active': currentTab == 'tab1' }">教练简介</div>
      <div class="col" ng-click="setTab('tab2')" ng-class="{ 'active': currentTab == 'tab2' }">已开课程</div>
      <div class="col" ng-click="setTab('tab3')" ng-class="{ 'active': currentTab == 'tab3' }">教练评价</div>
    </div>
  </section>
  <ion-content class="coach-content">
    <section class="coach-wrapper" ng-switch="currentTab">
      <div class="coach-about" ng-switch-default>
        <ul>
          <li class="item">
            <header>
              <h2><b class="dot"></b>教育背景</h2>
            </header>
            <p class="note">毕业院校：{{coach.graduate_school}}</p>
            <p class="note">专业：{{coach.major}}</p>
          </li>
          <li class="item">
            <header>
              <h2><b class="dot"></b>教学经历</h2>
            </header>
            <p class="note">教培行业：{{coach.coaching_years}}</p>
          </li>
          <li class="item">
            <header>
              <h2><b class="dot"></b>获得荣誉</h2>
            </header>
            <p class="note" ng-bind="coach.summary"></p>
          </li>
          <li class="item" ng-if="">
            <header>
              <h2><b class="dot"></b>教练宣言</h2>
            </header>
            <p class="note" ng-bind="coach.slogan"></p>
          </li>
          <li class="item">
            <header>
              <h2><b class="dot"></b>其他类似教练</h2>
            </header>
            <div class="recommend clearfix">
              <a href="" ng-repeat="coach in reCoaches" class="recommend-coach">
                <img class="recommend-img" ng-src="coach.photo" alt="">
                <div class="recommend-txt">
                  <span ng-bind="coach.coaching_specialty"></span>
                  <span ng-bind="coach.name"></span>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <div class="coach-courses" ng-switch-when="tab2">
        <ion-list class="course-list">
          <ion-item bindonce ng-repeat="course in courses">
            <div class="top clearfix">
              <h2 bo-bind="course.name"></h2>
              <span bo-bind="course.price | price"></span>
            </div>
            <div class="middle">
              <p><i class="icon ion-ios-location"></i><span bo-bind="course.teaching_venues"></span></p>
            </div>
            <div class="bottom">
              <span>授课方式：</span><span bo-bind="course.course_type | courseType"></span>
              <a href="" ng-click="openSchedule()">课程安排</a>
            </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
      </div>
      <div class="coach-evaluate" ng-switch-when="tab3">
        <header>
          <h2><i class="icon ion-ios-chatbubble-outline"></i>学员评价(11)</h2>
        </header>
        <ion-list>
          <ion-item bindonce ng-repeat="comment in comments">
            <div class="evaluate-info">
              <img bo-src="" alt="">
              <h2>
                <span class="name">宇宙无敌黑</span>
                <span class="date" bo-bind="comment.creation_time | date:'yyyy-MM-dd'"></span>
              </h2>
              <div class="star">
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
                <span class="star-icon-light"></span>
              </div>
              <p>参与课程：<span bo-bind="comment.course_name">散打初级班</span>
              </p>
            </div>
            <div class="evaluate-cont" bo-bind="comment.comment"></div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
        </ion-infinite-scroll>
      </div>
    </section>
  </ion-content>
</ion-view>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
  <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
  <div class="pswp__bg"></div>
  <!-- Slides wrapper with overflow:hidden. -->
  <div class="pswp__scroll-wrap">
    <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
    <div class="pswp__container">
      <!-- don't modify these 3 pswp__item elements, data is added later on -->
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
      <div class="pswp__item"></div>
    </div>
    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
    <div class="pswp__ui pswp__ui--hidden">
      <div class="pswp__top-bar">
        <!--  Controls are self-explanatory. Order can be changed. -->
        <div class="pswp__counter"></div>
        <button class="pswp__button pswp__button--close" title="关闭"></button>
        <!-- <button class="pswp__button pswp__button--share" title="Share"></button> -->
        <button class="pswp__button pswp__button--fs" title="全屏"></button>
        <button class="pswp__button pswp__button--zoom" title="放大/缩小"></button>
        <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
        <!-- element will get class pswp__preloader--active when preloader is running -->
        <div class="pswp__preloader">
          <div class="pswp__preloader__icn">
            <div class="pswp__preloader__cut">
              <div class="pswp__preloader__donut"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
        <div class="pswp__share-tooltip"></div>
      </div>
      <button class="pswp__button pswp__button--arrow--left" title="上一张">
      </button>
      <button class="pswp__button pswp__button--arrow--right" title="下一张">
      </button>
      <div class="pswp__caption">
        <div class="pswp__caption__center"></div>
      </div>
    </div>
  </div>
</div>
