<ion-view view-title="教练">
  <div class="bar bar-subheader filter-bar">
    <div class="filter-head row">
      <div class="col" ng-click="setFilter('filter1')" ng-class="{ 'active': currentFilter == 'filter1' }">
        <span>运动类型</span><i class="icon ion-arrow-down-b" ng-class="{ 'ion-arrow-up-b': currentFilter == 'filter1' }"></i>
      </div>
      <div class="col" ng-click="setFilter('filter2')" ng-class="{ 'active': currentFilter == 'filter2' }">
        <span>选择性别</span><i class="icon ion-arrow-down-b" ng-class="{ 'ion-arrow-up-b': currentFilter == 'filter2' }"></i>
      </div>
      <div class="col" ng-click="setFilter('filter3')" ng-class="{ 'active': currentFilter == 'filter3' }">
        <span>智能排序</span><i class="icon ion-arrow-down-b" ng-class="{ 'ion-arrow-up-b': currentFilter == 'filter3' }"></i>
      </div>
    </div>
    <div class="filter-body" ng-switch="currentFilter">
      <div class="filter-option" ng-switch-when="filter1">
          <ion-scroll direction="y">
            <ul>
              <li class="active"><p>不限</p></li>
              <li><p>网球</p></li>
              <li><p>羽毛球</p></li>
              <li><p>篮球</p></li>
              <li><p>足球</p></li>
              <li><p>台球</p></li>
              <li><p>乒乓球</p></li>
              <li><p>保龄球</p></li>
            </ul>
          </ion-scroll>
      </div>
      <div class="filter-option" ng-switch-when="filter2">
          <ion-scroll direction="y">
            <ul>
              <li><p>全部</p></li>
              <li><p>男</p></li>
              <li><p>女</p></li>
            </ul>
          </ion-scroll>
      </div>
      <div class="filter-option" ng-switch-when="filter3">
          <ion-scroll direction="y">
            <ul>
              <li><p>智能排序</p></li>
              <li><p>按距离</p></li>
            </ul>
          </ion-scroll>
      </div>
    </div>
  </div>
  <ion-content class="has-subheader">
    <div class="mask" ng-if="vm.mask" ng-click="hideMask()"></div>
    <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-arrow-down-c" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="coach-list">
      <ion-item class="item-avatar repeat-animation" bindonce ng-repeat="coach in coaches" type="item-text-wrap" href="#/tab/coaches/{{coach.id}}">
        <img src="{{coach.photo}}">
        <div class="item-txt">
          <i class="sex-icon" ng-class="{'sex-female': coach.gender == 'GENDER_WOMAN'}"></i>
          <span class="fr location"><i class="icon ion-ios-location"></i>12.10km</span>
          <h2 bo-bind="coach.name"></h2>
        </div>
        <div class="item-txt">
          <div class="coach-tag">
            <em>{{coach.coaching_specialty}}教练</em>
          </div>
        </div>
        <div class="item-txt">
          <div class="icon-block">
            <i class="icon ion-heart assertive"></i>
            <p>已收藏</p>
          </div>
          <div class="icon-block">
            <i class="icon ion-ios-star energized"></i>
            <p><i class="assertive">4.0</i>分
            </p>
          </div>
          <div class="icon-block">
            <i class="icon ion-ios-people"></i>
            <p><i class="assertive">12</i>人</p>
          </div>
          <div class="icon-block">
            <i class="icon ion-ios-chatbubble"></i>
            <p><i class="assertive">12</i>条</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
