<ion-view view-title="课程">
  <div class="bar bar-subheader filter-bar">
    <div class="filter-head row">
      <div class="col" ng-click="setFilter('filter1')" ng-class="{ 'active': currentFilter == 'filter1' }">
        <span>运动类型</span><i class="icon ion-arrow-down-b" ng-class="{ 'ion-arrow-up-b': currentFilter == 'filter1' }"></i>
      </div>
      <div class="col" ng-click="setFilter('filter2')" ng-class="{ 'active': currentFilter == 'filter2' }">
        <span>授课方式</span><i class="icon ion-arrow-down-b" ng-class="{ 'ion-arrow-up-b': currentFilter == 'filter2' }"></i>
      </div>
      <div class="col" ng-click="setFilter('filter3')" ng-class="{ 'active': currentFilter == 'filter3' }">
        <span>上课地点</span><i class="icon ion-arrow-down-b" ng-class="{ 'ion-arrow-up-b': currentFilter == 'filter3' }"></i>
      </div>
    </div>
    <div class="filter-body" ng-switch="currentFilter">
      <div class="filter-option" ng-switch-when="filter1">
        <ion-scroll direction="y">
          <ul>
            <li class="active">
              <p>不限</p>
            </li>
            <li bindonce ng-repeat="category in categories">
              <p bo-bind="category.category_name"></p>
            </li>
            
          </ul>
        </ion-scroll>
      </div>
      <div class="filter-option" ng-switch-when="filter2">
        <ion-scroll direction="y">
          <ul>
            <li>
              <p>全部</p>
            </li>
            <li>
              <p>一对一</p>
            </li>
            <li>
              <p>一对多</p>
            </li>
          </ul>
        </ion-scroll>
      </div>
      <div class="filter-option" ng-switch-when="filter3">
        <div class="filter-option-location clearfix">
          <ion-scroll class="left" direction="y">
            <ul>
              <li class="active">
                <p>不限</p>
              </li>
              <li bindonce ng-repeat="district in districts">
                <p bo-bind="district.district_name"></p>
              </li>
            </ul>
          </ion-scroll>
          <ion-scroll class="right" direction="y">
            <ul>
              <li class="active">
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
              <li>
                <p>八佰伴</p>
              </li>
            </ul>
          </ion-scroll>
        </div>
      </div>
    </div>
  </div>
  <ion-content class="has-subheader">
    <div class="mask" ng-if="vm.mask" ng-click="hideMask()"></div>
    <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-arrow-down-c" on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list class="course-list">
      <ion-item class="repeat-animation" bindonce ng-repeat="course in courses" href="#/tab/courses/{{course.id}}">
        <div class="top">
          <img src="{{course.coach.photo}}" alt="">
          <h2 bo-bind="course.name"></h2>
          <p class="time">
            <span bo-bind="course.start_day | date:'yyyy年MM月dd日'"></span>
            <span bo-bind="course.start_time | time"></span>
          </p>
          <p><span bo-bind="course.sales_quantity"></span>/<span bo-bind="course.quantity"></span> 人报名</p>
          <button>课程详情</button>
        </div>
        <div class="bottom">
          <div class="course-info">
            <p><i class="icon ion-ios-person"></i>授课教练：<span bo-bind="course.coach.name"></span></p>
            <p><i class="icon ion-ios-people"></i>教学模式：<span bo-bind="course.course_type | courseType"></span></p>
            <p><i class="icon ion-ios-location"></i>{{course.teaching_venues}}</p>
          </div>
          <div class="course-price" bo-bind="course.price | price"></div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll ng-if="!vm.pageInfo.last" on-infinite="loadMore()" distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
