.pane, .view {
    background-color: #f3f4f9;
}
.slider-pager {
    right: 20px;
    text-align: right;
    .slider-pager-page {
        display: inline-block;
        margin: 0px 3px;
        width: 15px;
        color: #fff;
        text-decoration: none;
        opacity: 1;
    }
    .slider-pager-page.active {
        color: $public-color;
    }
}
